// color ui
$sl_modal-overlay-opacity:      0.85 !default;
$clr-ui-modal-overlay:          rgba(#000, $sl_modal-overlay-opacity) !default;
$clr-body:                      #fff !default;
$clr-body-dark:                 #1f1f25 !default;
$clr-text:                      #060611 !default;
$clr-text-dark:                 #fff !default;
$clr-hr:                        #cbcbcb !default;
$clr-white:                     #fff !default;
$clr-black:                     #000 !default;
$clr-outline:                   #0066ff !default;
$clr-success:                   #50e243 !default;
$clr-success-text:              #091a08 !default;
$clr-success-light:             #d7fad4 !default;
$clr-success-light-text:        #091a08 !default;
$clr-success-dark:              #36962d !default;
$clr-success-dark-text:         #ffffff !default;
$clr-error:                     #f13232 !default;
$clr-error-text:                #ffffff !default;
$clr-error-light:               #ffd9d9 !default;
$clr-error-light-text:          #1a0808 !default;
$clr-error-dark:                #730000 !default;
$clr-error-dark-text:           #ffffff !default;
$clr-warning:                   #f1d130 !default;
$clr-warning-text:              #1a1605 !default;
$clr-warning-light:             #faf4d4 !default;
$clr-warning-light-text:        #1a1605 !default;
$clr-warning-dark:              #8c770e !default;
$clr-warning-dark-text:         #ffffff !default;
$clr-info:                      #3385ff !default;
$clr-info-text:                 #ffffff !default;
$clr-info-light:                #d4e3fa !default;
$clr-info-light-text:           #050d1a !default;
$clr-info-dark:                 #194380 !default;
$clr-info-dark-text:            #ffffff !default;

// gray colors
$clr-gray-charleston:           #212529 !default;
$clr-gray-gunmetal:             #343a40 !default;
$clr-gray-davys:                #495057 !default;
$clr-gray-slate:                #6c757d !default;
$clr-gray-light:                #ced4da !default;
$clr-gray-ghost:                #eff0f7 !default;
$clr-gray-gainsboro:            #dee2e6 !default;
$clr-gray-cultured:             #cecece !default;
$clr-gray-alice-blue:           #edf1f5 !default;
$clr-gray-lighten:              #efefef !default;
$clr-gray-light-extra:          #f6f6f6 !default;

$clr-gray-1:                    #f9f9f9 !default;
$clr-gray-2:                    #f3f3f3 !default;
$clr-gray-3:                    #eaeaea !default;
$clr-gray-4:                    #dadada !default;
$clr-gray-5:                    #d0d0d0 !default;
$clr-gray-6:                    #c5c5c5 !default;
$clr-gray-7:                    #ababab !default;
$clr-gray-8:                    #959595 !default;
$clr-gray-9:                    #757575 !default;
$clr-gray-10:                   #5c5c5c !default;
$clr-gray-11:                   #424242 !default;
$clr-gray-12:                   #282828 !default;
$clr-gray-13:                   #131313 !default;

// white colors
$clr-white-1:                   #ffffff !default;
$clr-white-2:                   #e5e5e5 !default;
$clr-white-3:                   #cfcfcf !default;
$clr-white-4:                   #b6b6b6 !default;
$clr-white-5:                   #a0a0a0 !default;
$clr-white-6:                   #888888 !default;
$clr-white-7:                   #717171 !default;
$clr-white-8:                   #595959 !default;
$clr-white-9:                   #414141 !default;
$clr-white-10:                  #292929 !default;

// black colors
$clr-black-1:                   #101010 !default;
$clr-black-2:                   #282828 !default;
$clr-black-3:                   #404040 !default;
$clr-black-4:                   #585858 !default;
$clr-black-5:                   #707070 !default;
$clr-black-6:                   #888888 !default;
$clr-black-7:                   #9f9f9f !default;
$clr-black-8:                   #b8b8b8 !default;
$clr-black-9:                   #cfcfcf !default;
$clr-black-10:                  #e8e8e8 !default;

// blue colors
$clr-blue-1:                    #002152 !default;
$clr-blue-2:                    #0041a3 !default;
$clr-blue-3:                    #005ae0 !default;
$clr-blue-4:                    #0066ff !default;
$clr-blue-5:                    #1f78ff !default;
$clr-blue-6:                    #3385ff !default;
$clr-blue-7:                    #5c9dff !default;
$clr-blue-8:                    #85b6ff !default;
$clr-blue-9:                    #adcfff !default;
$clr-blue-10:                   #dce4f9 !default;

// red colors
$clr-red-1:                     #4a0e05 !default;
$clr-red-2:                     #931c09 !default;
$clr-red-3:                     #ca260d !default;
$clr-red-4:                     #e62b0f !default;
$clr-red-5:                     #f13d21 !default;
$clr-red-6:                     #f24d34 !default;
$clr-red-7:                     #f46d59 !default;
$clr-red-8:                     #f78d7d !default;
$clr-red-9:                     #f9aca2 !default;
$clr-red-10:                    #f5d6ce !default;

// fire colors
$clr-fire-1:                    #ffba08 !default;
$clr-fire-2:                    #faa307 !default;
$clr-fire-3:                    #f48c06 !default;
$clr-fire-4:                    #e85d04 !default;
$clr-fire-5:                    #dc2f02 !default;
$clr-fire-6:                    #d00000 !default;
$clr-fire-7:                    #9d0208 !default;
$clr-fire-8:                    #6a040f !default;
$clr-fire-9:                    #370617 !default;
$clr-fire-10:                   #03071e !default;

// ice colors
$clr-ice-1:                     #edfafd !default;
$clr-ice-2:                     #caf0f8 !default;
$clr-ice-3:                     #ade8f4 !default;
$clr-ice-4:                     #90e0ef !default;
$clr-ice-5:                     #48cae4 !default;
$clr-ice-6:                     #00b4d8 !default;
$clr-ice-7:                     #0096c7 !default;
$clr-ice-8:                     #0077b6 !default;
$clr-ice-9:                     #023e8a !default;
$clr-ice-10:                    #03045e !default;